* {
    background-color: rgb(231, 229, 229) !important;
}

section {
    padding: 4rem 0;
}


/* navbar */
/* navbar */
.navbar span {
    color: #006800;
}
.navbar button {
    color: #006800;
}
.navbar .btn {
    background-color: #006800 !important;
    color: white !important;
} 

/* intro text and main image */
/* intro text and main image */
#intro .btn {
    color: white !important;
    background-color: #006800 !important;
}

/* pricing plans */
/* pricing plans */
#pricing .btn:hover {
    color: white !important;
    background-color: #006800!important;
}